@font-family: 'Open Sans','Arial','Helvetica',sans-serif;
@general-background: #ffffff;
@border-color: #dddddd;
@top-line-clr: #1A3E5E;
@inputColor: #668CA3;
@buttonColor: #F4B400;
@inputWidth: 280px;
@inputBorderColor: #CBCBCB; 
@styledSelectWidth: 290px;
@alpha: 0.8;

body { font-family: @font-family; font-size: 14px; font-weight: 300; margin: 0; padding: 0; text-align: center; background: @general-background; }
main { 
	.top-row { display: block; width: 100%; height: 15px; .toRGBABackground(@top-line-clr, @alpha); margin-bottom: 100px; }
	.outer { background: url(../gfx/outer.png) no-repeat scroll center 20px @general-background; width: 100%;
		.inner { margin: auto; text-align: left; padding: 0 10px;}
	}
}

h1 { color: #4B6179; font-size: 20px; font-weight: normal; }
strong { font-weight: bold; }

// form holder
.form-holder { width: 100%; max-width: 620px; /*min-width: 384px; background: url(../gfx/inner.png) repeat-x scroll 0 0 @general-background;*/ margin: auto; min-height: 240px; /*border: 1px solid @border-color;*/ }

// global form rows
.form-row { background: url(../gfx/dot01.png) no-repeat scroll 300px 15px; height: 56px; position: relative; width: 307px; margin: 0 10px;
	&.error { background: url(../gfx/dot02.png) no-repeat scroll 300px 15px;
		p { &.error { display: block; }}
	}
	&.submit { background: none;
		button { background: @buttonColor; border: none; color: #FFFFFF; cursor: pointer; font-weight: 600; height: 33px; padding: 0 30px 0 30px; text-transform: uppercase; }
	}
	&.select { z-index: 10; 
		.selectboxit-container { width: @inputWidth !important; 
			ul { background: none repeat scroll 0 0 @general-background; border: 1px solid @inputBorderColor; max-height: 200px; overflow: auto; width: @styledSelectWidth; display: none;
				li { height: 34px; list-style-type: none;
    				a { color: #333333; left: 10px; position: relative; top: 7px; }
     			}
			}
		}
		.selectboxit {
			&.styledSelect { background: none repeat scroll 0 0 @general-background; border: none; border-right: 1px solid @inputBorderColor; border-bottom: 1px solid #CBCBCB; display: block; height: 34px; width: @styledSelectWidth !important; 
				span { left: 10px; position: relative; top: 7px; }
				.selectboxit-text { color: @inputColor; } 
			}
			span[data-val=""] { color: #B3C5C2 !important; }
		}
	}
	&.notrequired { background: none; }
	input {	border: none; border-right: 1px solid @inputBorderColor; border-bottom: 1px solid @inputBorderColor; color: @inputColor; height: 34px; padding-left: 10px; width: 280px; }
	p {
		&.error { background-color: white; border-right: 1px solid #FF0000; border-bottom: 1px solid #FF0000; display: none; height: 36px; position: absolute; top: 0; width: @inputWidth; padding-left: 10px;
			span { color: #FF0000; left: 2px; position: relative; top: 8px; }
		}
	}
	.prettycheckbox, .prettyradio { color: @inputColor; } 
}		

// jquery ui datepicker custom styles
.ui-datepicker { background: @general-background !important; border: 1px solid @border-color; z-index: 11 !important; .borderRadius(0px); font-family: @font-family;
	.ui-widget-header { background: none; border: none; }
	.ui-datepicker-prev, .ui-datepicker-prev:hover { background: url(../gfx/datepickerArrowLeft.png) no-repeat scroll center center transparent;
		span { &.ui-icon { display: none; }}
		&.ui-datepicker-prev-hover { border: none; }
	}	
	.ui-datepicker-next, .ui-datepicker-next:hover { background: url(../gfx/datepickerArrowRight.png) no-repeat scroll center center transparent;
		span { &.ui-icon { display: none; }}
		&.ui-datepicker-next-hover { border: none; }	
	}
	.ui-datepicker-calendar {
		a { background: none !important; border: none !important;
			&.ui-state-active { border: 1px solid @border-color !important; }
		}
		th { span { font-weight: normal; } }
	}
}

// ui dialog
.ui-dialog { .borderRadius(0px); font-family: @font-family; border: 1px solid @border-color !important;
	.ui-dialog-title { width: 100%; }
	.ui-widget-header { background: none; .borderRadius(0px); border: 1px solid @border-color !important; border-width: 0px 0px 1px 0px !important; 
		button { display: none; }
	}	
	button { background: @buttonColor !important; .borderRadius(0px); color: #FFFFFF !important; border: none !important; text-transform: uppercase; }
	.ui-dialog-buttonpane { border-color: @border-color; }
}

// ui dialog overlay
.ui-widget-overlay { .toRGBABackground(white, @alpha); opacity: 1.0; }

