/**
* Universal reset style and support classes
*
* @author - ljahoda
*/

/*--RESET------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
table {	border-collapse: separate; border-spacing: 0; }
th, td {text-align: left; font-weight: normal; vertical-align: middle; }
img, iframe { border: none; text-decoration: none; vertical-align: top; }
ol, ul { list-style: none; }
input, textarea, select, button { font-size: 100%; font-family: inherit; }
select { margin: inherit; }
hr { margin: 0; padding: 0; border: 0; background-color: #000; height: 1px; }


/*--VARIOUS----------------------------------------------*/

.cleaner { clear: both; height: 0; font-size: 0; overflow: hidden; display: block; }
.spacer { border: none; background: transparent; overflow: hidden; font-size: 0 !important; }
.wsNoWrap { white-space: nowrap; }

/*--WIDTH------------------------------------------------*/

.wAuto { width: auto !important; }
.w01 { width: 01px; }	.w02 { width: 02px; }	.w03 { width: 03px; }	.w04 { width: 04px; }	.w05 { width: 05px; }
.w06 { width: 06px; }	.w07 { width: 07px; }	.w08 { width: 08px; }	.w09 { width: 09px; }	.w10 { width: 10px; }
.w11 { width: 11px; }	.w12 { width: 12px; }	.w13 { width: 13px; }	.w14 { width: 14px; }	.w15 { width: 15px; }
.w16 { width: 16px; }	.w17 { width: 17px; }	.w18 { width: 18px; }	.w19 { width: 19px; }	.w20 { width: 20px; }
.w21 { width: 21px; }	.w22 { width: 22px; }	.w23 { width: 23px; }	.w24 { width: 24px; }	.w25 { width: 25px; }
.w26 { width: 26px; }	.w27 { width: 27px; }	.w28 { width: 28px; }	.w29 { width: 29px; }	.w30 { width: 30px; }
.w35 { width: 35px; }	.w40 { width: 40px; }	.w45 { width: 45px; }	.w50 { width: 50px; }	.w55 { width: 55px; }
.w60 { width: 60px; }	.w65 { width: 65px; }	.w70 { width: 70px; }	.w75 { width: 75px; } 	.w80 { width: 80px; }
.w85 { width: 85px; }	.w90 { width: 90px; }	.w95 { width: 95px; }	.w100 { width: 100px; }

.w110 { width: 110px; }	.w120 { width: 120px; }	.w130 { width: 130px; }	.w135 { width: 135px; }	.w140 { width: 140px; }	.w150 { width: 150px; }
.w155 { width: 155px; } .w160 { width: 160px; }	.w165 { width: 165px; }	.w170 { width: 170px; }	.w180 { width: 180px; }	.w185 { width: 185px; } .w190 { width: 190px; } .w195 { width: 195px; }	.w200 { width: 200px; }
.w210 { width: 210px; }	.w220 { width: 220px !important; }	.w225 { width: 225px; }	.w230 { width: 230px; }	.w240 { width: 240px; }	.w241 { width: 241px; }	.w250 { width: 250px; }
.w255 { width: 255px; } .w256 { width: 256px; } .w260 { width: 260px; }	.w261 { width: 261px; } .w269 { width: 269px; } .w270 { width: 270px; }	.w275 { width: 275px; }	.w280 { width: 280px; }	.w285 { width: 285px; }	.w290 { width: 290px; }	.w300 { width: 300px; }
.w305 { width: 305px; } .w310 { width: 310px; } .w320 { width: 320px; } .w325 { width: 325px; } .w340 { width: 340px; }	.w345 { width: 345px; }	.w350 { width: 350px; }	.w380 { width: 380px; } .w385 { width: 385px; } .w388 { width: 388px; }
.w400 { width: 400px; } .w404 { width: 404px; } .w405 { width: 405px; }	.w407 { width: 407px; }	.w410 { width: 410px; }	.w415 { width: 415px; }	.w417 { width: 417px; }	.w420 { width: 420px; }	.w450 { width: 450px; } .w470 { width: 470px; }
.w500 { width: 500px; }	.w520 { width: 520px; }	.w550 { width: 550px; }	.w570 { width: 570px; }
.w600 { width: 600px; }	.w650 { width: 650px; }	.w700 { width: 700px; }	.w750 { width: 750px; }	.w800 { width: 800px; }
.w850 { width: 850px; }	.w860 { width: 860px; } .w900 { width: 900px; }	.w950 { width: 950px; }	.w960 { width: 960px; }	.w980 { width: 980px; }

.w10p { width: 10%; }	.w14p { width: 14%; }	.w15p { width: 15%; }	.w19p { width: 19%; }
.w20p { width: 20%; }	.w24p { width: 24%; }	.w25p { width: 25%; }	.w29p { width: 29%; }
.w30p { width: 30%; }	.w33p { width: 33%; }	.w34p { width: 34%; }	.w35p { width: 35%; }	.w39p { width: 39%; }
.w40p { width: 40%; }	.w44p { width: 44%; }	.w45p { width: 45%; }	.w49p { width: 49%; }
.w50p { width: 50%; }	.w54p { width: 54%; }	.w55p { width: 55%; }	.w59p { width: 59%; }
.w60p { width: 60%; }	.w64p { width: 64%; }	.w65p { width: 65%; }	.w69p { width: 69%; }
.w70p { width: 70%; }	.w74p { width: 74%; }	.w75p { width: 75%; }	.w79p { width: 79%; }
.w80p { width: 80%; }	.w84p { width: 84%; }	.w85p { width: 85%; }	.w89p { width: 89%; }	.w100p { width: 100%; }

/*--HEIGHT---------------------------------------------------*/

.h01 { height: 01px; }	.h02 { height: 02px; }	.h03 { height: 03px; }	.h04 { height: 04px; }	.h05 { height: 05px; }
.h06 { height: 06px; }	.h07 { height: 07px; }	.h08 { height: 08px; }	.h09 { height: 09px; }	.h10 { height: 10px; }
.h11 { height: 11px; }	.h12 { height: 12px; }	.h13 { height: 13px; }	.h14 { height: 14px; }	.h15 { height: 15px; }
.h16 { height: 16px; }	.h17 { height: 17px; }	.h18 { height: 18px; }	.h19 { height: 19px; }	.h20 { height: 20px; }
.h21 { height: 21px; }	.h22 { height: 22px; }	.h23 { height: 23px; }	.h24 { height: 24px; }	.h25 { height: 25px; }
.h26 { height: 26px; }	.h27 { height: 27px; }	.h28 { height: 28px; }	.h29 { height: 29px; }	.h30 { height: 30px; }	.h32 { height: 32px; }
.h35 { height: 35px; }	.h40 { height: 40px; }	.h45 { height: 45px; }	.h50 { height: 50px; }	.h55 { height: 55px; }
.h60 { height: 60px; }	.h65 { height: 65px; }	.h70 { height: 70px; }	.h75 { height: 75px; } 	.h80 { height: 80px; }
.h85 { height: 85px; }	.h90 { height: 90px; }	.h95 { height: 95px; }	.h100 { height: 100px; }	.h140 { height: 140px; }
.h150 { height: 150px; }	.h200 { height: 200px; }	.h250 { height: 250px; }	.h300 { height: 300px; }	.h350 { height: 350px; }
.h400 { height: 400px; }	.h450 { height: 450px; }	.h500 { height: 150px; }	.h500 { height: 150px; }	.h550 { height: 550px; }
.h600 { height: 600px; }
.h100p { height: 100%; }

/*--MIN-HEIGHT-----------------------------------------------*/

.mh0 { min-height: 0 !important; }	.mh10 { min-height: 10px; }		.mh20 { min-height: 20px; }		.mh30 { min-height: 30px; }		.mh40 { min-height: 40px; }		.mh50 { min-height: 50px; }
.mh100 { min-height: 100px; }		.mh200 { min-height: 200px; }	.mh300 { min-height: 300px; }	.mh400 { min-height: 400px; }	.mh500 { min-height: 500px; }	.mh600 { min-height: 600px; }
.mh700 { min-height: 700px; }		.mh800 { min-height: 800px; }	.mh900 { min-height: 900px; }	.mh1000 { min-height: 1000px; }

/*--LINE-HEIGHT----------------------------------------------*/

.lh08 { line-height: 8px; }		.lh09 { line-height: 9px; }		.lh10 { line-height: 10px; }	.lh11 { line-height: 11px; }	.lh12 { line-height: 12px; }
.lh13 { line-height: 13px; }	.lh14 { line-height: 14px; }	.lh15 { line-height: 15px; }	.lh16 { line-height: 16px; }	.lh17 { line-height: 17px; }
.lh18 { line-height: 18px; }	.lh19 { line-height: 19px; }	.lh20 { line-height: 20px; }	.lh21 { line-height: 21px; }	.lh22 { line-height: 22px; }
.lh23 { line-height: 23px; }	.lh24 { line-height: 24px; }	.lh25 { line-height: 25px; }	.lh26 { line-height: 26px; }	.lh27 { line-height: 27px; }
.lh28 { line-height: 28px; }	.lh29 { line-height: 29px; }	.lh30 { line-height: 30px; }

/*--MARGIN---------------------------------------------------*/

.mAuto { margin: 0 auto;}

.m0 { margin: 0 !important; }	.mt0 { margin-top: 0 !important; }	.mr0 { margin-right: 0 !important; }	.mb0 { margin-bottom: 0 !important; }	.ml0 { margin-left: 0 !important; }

.m01 { margin: 01px; }	.m02 { margin: 02px; }	.m03 { margin: 03px; }	.m04 { margin: 04px; }	.m05 { margin: 05px; }
.m06 { margin: 06px; }	.m07 { margin: 07px; }	.m08 { margin: 08px; }	.m09 { margin: 09px; }	.m10 { margin: 10px; }
.m11 { margin: 11px; }	.m12 { margin: 12px; }	.m13 { margin: 13px; }	.m14 { margin: 14px; }	.m15 { margin: 15px; }
.m16 { margin: 16px; }	.m17 { margin: 17px; }	.m18 { margin: 18px; }	.m19 { margin: 19px; }	.m20 { margin: 20px; }
.m21 { margin: 21px; }	.m22 { margin: 22px; }	.m23 { margin: 23px; }	.m24 { margin: 24px; }	.m25 { margin: 25px; }
.m26 { margin: 26px; }	.m27 { margin: 27px; }	.m28 { margin: 28px; }	.m29 { margin: 29px; }	.m30 { margin: 30px; }
.m35 { margin: 35px; }	.m40 { margin: 40px; }	.m45 { margin: 45px; }	.m50 { margin: 50px; }	.m55 { margin: 55px; }
.m60 { margin: 60px; }	.m65 { margin: 65px; }	.m70 { margin: 70px; }	.m75 { margin: 75px; }	.m80 { margin: 80px; }
.m85 { margin: 85px; }	.m90 { margin: 90px; }	.m95 { margin: 95px; }	.m100 { margin: 100px; }

.mt01 { margin-top: 01px; }	.mt02 { margin-top: 02px; }	.mt03 { margin-top: 03px; }	.mt04 { margin-top: 04px; }	.mt05 { margin-top: 05px; }
.mt06 { margin-top: 06px; }	.mt07 { margin-top: 07px; }	.mt08 { margin-top: 08px; }	.mt09 { margin-top: 09px; }	.mt10 { margin-top: 10px; }
.mt11 { margin-top: 11px; }	.mt12 { margin-top: 12px; }	.mt13 { margin-top: 13px; }	.mt14 { margin-top: 14px; }	.mt15 { margin-top: 15px; }
.mt16 { margin-top: 16px; }	.mt17 { margin-top: 17px; }	.mt18 { margin-top: 18px; }	.mt19 { margin-top: 19px; }	.mt20 { margin-top: 20px; }
.mt21 { margin-top: 21px; }	.mt22 { margin-top: 22px; }	.mt23 { margin-top: 23px; }	.mt24 { margin-top: 24px; }	.mt25 { margin-top: 25px; }
.mt26 { margin-top: 26px; }	.mt27 { margin-top: 27px; }	.mt28 { margin-top: 28px; }	.mt29 { margin-top: 29px; }	.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }	.mt40 { margin-top: 40px; }	.mt45 { margin-top: 45px; }	.mt50 { margin-top: 50px; }	.mt55 { margin-top: 55px; }
.mt60 { margin-top: 60px; }	.mt65 { margin-top: 65px; }	.mt70 { margin-top: 70px; }	.mt75 { margin-top: 75px; }	.mt80 { margin-top: 80px; }
.mt85 { margin-top: 85px; }	.mt90 { margin-top: 90px; }	.mt95 { margin-top: 95px; }	.mt100 { margin-top: 100px; }

.mr01 { margin-right: 01px; }	.mr02 { margin-right: 02px; }	.mr03 { margin-right: 03px; }	.mr04 { margin-right: 04px; }	.mr05 { margin-right: 05px; }
.mr06 { margin-right: 06px !important; }	.mr07 { margin-right: 07px; }	.mr08 { margin-right: 08px; }	.mr09 { margin-right: 09px; }	.mr10 { margin-right: 10px; }
.mr11 { margin-right: 11px; }	.mr12 { margin-right: 12px; }	.mr13 { margin-right: 13px; }	.mr14 { margin-right: 14px; }	.mr15 { margin-right: 15px !important; }
.mr16 { margin-right: 16px; }	.mr17 { margin-right: 17px; }	.mr18 { margin-right: 18px !important; }	.mr19 { margin-right: 19px !important; }	.mr20 { margin-right: 20px !important; }
.mr21 { margin-right: 21px; }	.mr22 { margin-right: 22px; }	.mr23 { margin-right: 23px; }	.mr24 { margin-right: 24px; }	.mr25 { margin-right: 25px; }
.mr26 { margin-right: 26px; }	.mr27 { margin-right: 27px; }	.mr28 { margin-right: 28px; }	.mr29 { margin-right: 29px; }	.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }	.mr40 { margin-right: 40px; }	.mr45 { margin-right: 45px; }	.mr50 { margin-right: 50px; }	.mr55 { margin-right: 55px; }
.mr60 { margin-right: 60px; }	.mr65 { margin-right: 65px; }	.mr70 { margin-right: 70px; }	.mr75 { margin-right: 75px; }	.mr80 { margin-right: 80px; }
.mr85 { margin-right: 85px; }	.mr90 { margin-right: 90px; }	.mr95 { margin-right: 95px; }	.mr100 { margin-right: 100px; }

.mb01 { margin-bottom: 01px; }	.mb02 { margin-bottom: 02px; }	.mb03 { margin-bottom: 03px; }	.mb04 { margin-bottom: 04px; }	.mb05 { margin-bottom: 05px; }
.mb06 { margin-bottom: 06px; }	.mb07 { margin-bottom: 07px; }	.mb08 { margin-bottom: 08px; }	.mb09 { margin-bottom: 09px; }	.mb10 { margin-bottom: 10px; }
.mb11 { margin-bottom: 11px; }	.mb12 { margin-bottom: 12px; }	.mb13 { margin-bottom: 13px; }	.mb14 { margin-bottom: 14px; }	.mb15 { margin-bottom: 15px; }
.mb16 { margin-bottom: 16px; }	.mb17 { margin-bottom: 17px; }	.mb18 { margin-bottom: 18px; }	.mb19 { margin-bottom: 19px; }	.mb20 { margin-bottom: 20px; }
.mb21 { margin-bottom: 21px; }	.mb22 { margin-bottom: 22px; }	.mb23 { margin-bottom: 23px; }	.mb24 { margin-bottom: 24px; }	.mb25 { margin-bottom: 25px; }
.mb26 { margin-bottom: 26px; }	.mb27 { margin-bottom: 27px; }	.mb28 { margin-bottom: 28px; }	.mb29 { margin-bottom: 29px; }	.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px; }	.mb40 { margin-bottom: 40px; }	.mb45 { margin-bottom: 45px; }	.mb50 { margin-bottom: 50px; }	.mb55 { margin-bottom: 55px; }
.mb60 { margin-bottom: 60px; }	.mb65 { margin-bottom: 65px; }	.mb70 { margin-bottom: 70px; }	.mb75 { margin-bottom: 75px; }	.mb80 { margin-bottom: 80px; }
.mb85 { margin-bottom: 85px; }	.mb90 { margin-bottom: 90px; }	.mb95 { margin-bottom: 95px; }	.mb100 { margin-bottom: 100px; }

.ml01 { margin-left: 01px; }	.ml02 { margin-left: 02px; }	.ml03 { margin-left: 03px; }	.ml04 { margin-left: 04px; }	.ml05 { margin-left: 05px; }
.ml06 { margin-left: 06px; }	.ml07 { margin-left: 07px; }	.ml08 { margin-left: 08px; }	.ml09 { margin-left: 09px; }	.ml10 { margin-left: 10px; }
.ml11 { margin-left: 11px; }	.ml12 { margin-left: 12px; }	.ml13 { margin-left: 13px; }	.ml14 { margin-left: 14px; }	.ml15 { margin-left: 15px; }
.ml16 { margin-left: 16px; }	.ml17 { margin-left: 17px; }	.ml18 { margin-left: 18px; }	.ml19 { margin-left: 19px; }	.ml20 { margin-left: 20px; }
.ml21 { margin-left: 21px; }	.ml22 { margin-left: 22px; }	.ml23 { margin-left: 23px; }	.ml24 { margin-left: 24px; }	.ml25 { margin-left: 25px; }
.ml26 { margin-left: 26px; }	.ml27 { margin-left: 27px; }	.ml28 { margin-left: 28px; }	.ml29 { margin-left: 29px; }	.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }	.ml40 { margin-left: 40px; }	.ml45 { margin-left: 45px; }	.ml50 { margin-left: 50px; }	.ml55 { margin-left: 55px; }
.ml60 { margin-left: 60px; }	.ml65 { margin-left: 65px; }	.ml70 { margin-left: 70px; }	.ml75 { margin-left: 75px; }	.ml80 { margin-left: 80px; }
.ml85 { margin-left: 85px; }	.ml90 { margin-left: 90px; }	.ml95 { margin-left: 95px; }	.ml100 { margin-left: 100px; }

/*--PADDING-----------------------------------------------*/

.p0 { padding: 0 !important; }	.pt0 { padding-top: 0 !important; }	.pr0 { padding-right: 0 !important; }	.pb0 { padding-bottom: 0 !important; }	.pl0 { padding-left: 0 !important; }

.p01 { padding: 01px; }	.p02 { padding: 02px; }	.p03 { padding: 03px; }	.p04 { padding: 04px; }	.p05 { padding: 05px; }
.p06 { padding: 06px; }	.p07 { padding: 07px; }	.p08 { padding: 08px; }	.p09 { padding: 09px; }	.p10 { padding: 10px; }
.p11 { padding: 11px; }	.p12 { padding: 12px; }	.p13 { padding: 13px; }	.p14 { padding: 14px; }	.p15 { padding: 15px; }
.p16 { padding: 16px; }	.p17 { padding: 17px; }	.p18 { padding: 18px; }	.p19 { padding: 19px; }	.p20 { padding: 20px; }
.p21 { padding: 21px; }	.p22 { padding: 22px; }	.p23 { padding: 23px; }	.p24 { padding: 24px; }	.p25 { padding: 25px; }
.p26 { padding: 26px; }	.p27 { padding: 27px; }	.p28 { padding: 28px; }	.p29 { padding: 29px; }	.p30 { padding: 30px; }
.p35 { padding: 35px; }	.p40 { padding: 40px; }	.p45 { padding: 45px; }	.p50 { padding: 50px; }	.p55 { padding: 55px; }
.p60 { padding: 60px; }	.p65 { padding: 65px; }	.p70 { padding: 70px; }	.p75 { padding: 75px; }	.p80 { padding: 80px; }
.p85 { padding: 85px; }	.p90 { padding: 90px; }	.p95 { padding: 95px; }	.p100 { padding: 100px; }

.pt01 { padding-top: 01px; }	.pt02 { padding-top: 02px; }	.pt03 { padding-top: 03px; }	.pt04 { padding-top: 04px; }	.pt05 { padding-top: 05px; }
.pt06 { padding-top: 06px; }	.pt07 { padding-top: 07px; }	.pt08 { padding-top: 08px; }	.pt09 { padding-top: 09px; }	.pt10 { padding-top: 10px; }
.pt11 { padding-top: 11px; }	.pt12 { padding-top: 12px; }	.pt13 { padding-top: 13px; }	.pt14 { padding-top: 14px !important; }	.pt15 { padding-top: 15px; }
.pt16 { padding-top: 16px; }	.pt17 { padding-top: 17px; }	.pt18 { padding-top: 18px; }	.pt19 { padding-top: 19px; }	.pt20 { padding-top: 20px; }
.pt21 { padding-top: 21px; }	.pt22 { padding-top: 22px; }	.pt23 { padding-top: 23px; }	.pt24 { padding-top: 24px; }	.pt25 { padding-top: 25px; }
.pt26 { padding-top: 26px; }	.pt27 { padding-top: 27px; }	.pt28 { padding-top: 28px; }	.pt29 { padding-top: 29px; }	.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }	.pt40 { padding-top: 40px; }	.pt45 { padding-top: 45px; }	.pt50 { padding-top: 50px; }	.pt55 { padding-top: 55px; }
.pt60 { padding-top: 60px; }	.pt65 { padding-top: 65px; }	.pt70 { padding-top: 70px; }	.pt75 { padding-top: 75px; }	.pt80 { padding-top: 80px; }
.pt85 { padding-top: 85px; }	.pt90 { padding-top: 90px; }	.pt95 { padding-top: 95px; }	.pt100 { padding-top: 100px; }

.pr01 { padding-right: 01px; }	.pr02 { padding-right: 02px; }	.pr03 { padding-right: 03px; }	.pr04 { padding-right: 04px; }	.pr05 { padding-right: 05px; }
.pr06 { padding-right: 06px; }	.pr07 { padding-right: 07px; }	.pr08 { padding-right: 08px !important; }	.pr09 { padding-right: 09px; }	.pr10 { padding-right: 10px; }
.pr11 { padding-right: 11px; }	.pr12 { padding-right: 12px; }	.pr13 { padding-right: 13px; }	.pr14 { padding-right: 14px; }	.pr15 { padding-right: 15px; }
.pr16 { padding-right: 16px; }	.pr17 { padding-right: 17px; }	.pr18 { padding-right: 18px; }	.pr19 { padding-right: 19px; }	.pr20 { padding-right: 20px; }
.pr21 { padding-right: 21px; }	.pr22 { padding-right: 22px; }	.pr23 { padding-right: 23px; }	.pr24 { padding-right: 24px; }	.pr25 { padding-right: 25px; }
.pr26 { padding-right: 26px; }	.pr27 { padding-right: 27px; }	.pr28 { padding-right: 28px; }	.pr29 { padding-right: 29px; }	.pr30 { padding-right: 30px; }
.pr35 { padding-right: 35px; }	.pr40 { padding-right: 40px; }	.pr45 { padding-right: 45px; }	.pr50 { padding-right: 50px; }	.pr55 { padding-right: 55px; }
.pr60 { padding-right: 60px; }	.pr65 { padding-right: 65px; }	.pr70 { padding-right: 70px; }	.pr75 { padding-right: 75px; }	.pr80 { padding-right: 80px; }
.pr85 { padding-right: 85px; }	.pr90 { padding-right: 90px; }	.pr95 { padding-right: 95px; }	.pr100 { padding-right: 100px; }

.pb01 { padding-bottom: 01px; }	.pb02 { padding-bottom: 02px; }	.pb03 { padding-bottom: 03px; }	.pb04 { padding-bottom: 04px; }	.pb05 { padding-bottom: 05px !important; }
.pb06 { padding-bottom: 06px; }	.pb07 { padding-bottom: 07px; }	.pb08 { padding-bottom: 08px; }	.pb09 { padding-bottom: 09px; }	.pb10 { padding-bottom: 10px; }
.pb11 { padding-bottom: 11px; }	.pb12 { padding-bottom: 12px; }	.pb13 { padding-bottom: 13px; }	.pb14 { padding-bottom: 14px; }	.pb15 { padding-bottom: 15px !important; }
.pb16 { padding-bottom: 16px; }	.pb17 { padding-bottom: 17px; }	.pb18 { padding-bottom: 18px; }	.pb19 { padding-bottom: 19px; }	.pb20 { padding-bottom: 20px; }
.pb21 { padding-bottom: 21px; }	.pb22 { padding-bottom: 22px; }	.pb23 { padding-bottom: 23px; }	.pb24 { padding-bottom: 24px; }	.pb25 { padding-bottom: 25px; }
.pb26 { padding-bottom: 26px; }	.pb27 { padding-bottom: 27px; }	.pb28 { padding-bottom: 28px; }	.pb29 { padding-bottom: 29px; }	.pb30 { padding-bottom: 30px; }
.pb35 { padding-bottom: 35px; }	.pb40 { padding-bottom: 40px; }	.pb45 { padding-bottom: 45px; }	.pb50 { padding-bottom: 50px; }	.pb55 { padding-bottom: 55px; }
.pb60 { padding-bottom: 60px; }	.pb65 { padding-bottom: 65px; }	.pb70 { padding-bottom: 70px; }	.pb75 { padding-bottom: 75px; }	.pb80 { padding-bottom: 80px; }
.pb85 { padding-bottom: 85px; }	.pb90 { padding-bottom: 90px; }	.pb95 { padding-bottom: 95px; }	.pb100 { padding-bottom: 100px; }

.pl01 { padding-left: 01px; }	.pl02 { padding-left: 02px; }	.pl03 { padding-left: 03px; }	.pl04 { padding-left: 04px; }	.pl05 { padding-left: 05px; }
.pl06 { padding-left: 06px; }	.pl07 { padding-left: 07px; }	.pl08 { padding-left: 08px !important; }	.pl09 { padding-left: 09px; }	.pl10 { padding-left: 10px !important; }
.pl11 { padding-left: 11px; }	.pl12 { padding-left: 12px; }	.pl13 { padding-left: 13px; }	.pl14 { padding-left: 14px; }	.pl15 { padding-left: 15px !important; }
.pl16 { padding-left: 16px; }	.pl17 { padding-left: 17px; }	.pl18 { padding-left: 18px; }	.pl19 { padding-left: 19px; }	.pl20 { padding-left: 20px; }
.pl21 { padding-left: 21px; }	.pl22 { padding-left: 22px; }	.pl23 { padding-left: 23px !important; }	.pl24 { padding-left: 24px; }	.pl25 { padding-left: 25px; }
.pl26 { padding-left: 26px; }	.pl27 { padding-left: 27px; }	.pl28 { padding-left: 28px; }	.pl29 { padding-left: 29px; }	.pl30 { padding-left: 30px; }
.pl35 { padding-left: 35px; }	.pl37 { padding-left: 37px !important; } 	.pl40 { padding-left: 40px; }	.pl45 { padding-left: 45px; }	.pl50 { padding-left: 50px; }	.pl55 { padding-left: 55px; }
.pl58 { padding-left: 58px; }   .pl60 { padding-left: 60px; }	.pl61 { padding-left: 61px; } 	.pl65 { padding-left: 65px; }	.pl70 { padding-left: 70px; }	.pl75 { padding-left: 75px; }	.pl80 { padding-left: 80px; }
.pl85 { padding-left: 85px; }	.pl90 { padding-left: 90px; }	.pl95 { padding-left: 95px; }	.pl100 { padding-left: 100px; } .pl120 { padding-left: 120px; } .pl160 { padding-left: 160px; }
.pl180 { padding-left: 180px; }


/*--FLOATING---------------------------------------------*/

.fLeft { float: left !important; }
.fRight { float: right !important; }
.fNone { float: none !important; }


/*--TEXT-ALIGN-------------------------------------------*/

.taLeft { text-align: left !important; }
.taRight { text-align: right !important; }
.taCenter { text-align: center !important; }
.taJustify { text-align: justify !important; }

/*--TEXT-DECORATION--------------------------------------*/

.tdNone { text-decoration: none !important; }
.tdUnderline { text-decoration: underline !important; }
.tdLineThrough { text-decoration: line-through !important; }

/*--TEXT-TRANSFORM---------------------------------------*/

.ttNone { text-transform: none !important; }
.ttUppercase { text-transform: uppercase !important; }
.ttLowercase { text-transform: lowercase !important; }
.ttCapitalize { text-transform: capitalize !important; }

/*--VERTICAL-ALIGN---------------------------------------*/

.vaTop { vertical-align: top !important; }
.vaMiddle { vertical-align: middle !important; }
.vaBaseline { vertical-align: baseline !important; }
.vaBottom { vertical-align: bottom !important; }

/*--DISPLAY----------------------------------------------*/

.dInline { display: inline !important; }
.dBlock { display: block !important; }
.dInlineBlock { display: inline-block !important; }
.dNone { display: none !important; }

/*--VISIBILITY-------------------------------------------*/

.vHidden { visibility: hidden !important; }
.vVisible { visibility: visible !important; }

/*--BACKGROUND-------------------------------------------*/

.bgNone { background: none !important; }

/*--BORDERS----------------------------------------------*/

.bw0 { border-width: 0 !important; }	.bw01 { border-width: 01px; }	.bw02 { border-width: 02px; }	.bw03 { border-width: 03px; }	.bw04 { border-width: 04px; }	.bw05 { border-width: 05px; }
.blw0 { border-left-width: 0 !important; }
.brw0 { border-right-width: 0 !important; }

.bsSolid { border-style: solid; }
.bsDotted { border-style: dotted; }
.bsDashed { border-style: dashed; }
.bsDouble { border-style: double; }

/*--POSITION----------------------------------------------*/

.pRelative { position: relative !important; }
.pStatic { position: static !important; }

.t0 { top: 0 !important; }
.t01 { top: 1px; }
.t02 { top: 2px; }
.t03 { top: 3px; }
.t04 { top: 4px; }
.t05 { top: 5px; }
.t06 { top: 6px; }
.t07 { top: 7px; }
.t08 { top: 8px; }
.t09 { top: 9px; }
.t10 { top: 10px; }

/*--FONT----------------------------------------------*/

.fwBold { font-weight: bold !important; }
.fwNormal { font-weight: normal !important; }

.fs12 { font-size: 12px !important; }
.fs14 { font-size: 14px !important; }
.fs16 { font-size: 16px !important; }
.fs18 { font-size: 18px !important; }
.fs20 { font-size: 20px !important; }
.fs22 { font-size: 22px !important; }
.fs24 { font-size: 24px !important; }
.fs26 { font-size: 26px !important; }
.fs30 { font-size: 30px !important; }




